button {
    background-color: white;
    color: black;
    text-decoration:none;
    display: inline-block;
    text-align: center;
    margin: 18px;
    width: 40%;
    padding: 5px;
    border:1px solid;
}

.button {
    margin: auto;
    width: 100%;
}
  
button:hover {
    opacity: 0.8;
    background-color: rgb(145, 181, 248);
}

.active {
    background-color:  rgb(145, 181, 248);
}