<div class="containerlisteproduit">
    <h3>Listes des produits de la box : </h3>
    <ul [formGroup]="editProduit" class="listeProduit" *ngIf="listeProduitQuantite">
        <div formArrayName="listeProduit" class="box" *ngFor="let item of listeProduit.controls; let i = index">
            <div class="produit" [formGroupName]="i">
                <div class="nomProduit" formGroupName="produit">
                    <input type="text" formControlName="nom" required>
                </div>
                <input type="number" formControlName="quantite" required>
            </div>
        </div>
    </ul>
</div>
