#list-box {
    float: left;
    width: 45%;
    margin: 5px;
    padding: 5px;
    border: 1px solid;
}

#commentaire-list {
    float: right;
    width: 45%;
    margin: 5px;
    padding: 5px;
    border: 1px solid;
}