<div class="containerlisteproduit">
    <h3>Liste des produits de la box : </h3>
    <p *ngIf="!listeProduit.length">Aucun produit</p>
    <ul [formGroup]="editProduit" class="listeProduit">
        <div formArrayName="listeProduit" class="box" *ngFor="let item of listeProduit.controls; let i = index">
            <div class="produit" [formGroupName]="i">
                <div class="nomProduit" formGroupName="produit">
                    <input type="text" formControlName="nom" required>
                </div>
                <input type="number" formControlName="quantite" required>
                <p *ngIf="listeProduit.at(i).get('quantite').invalid" class="error">La quantité doit être comprise entre 0 et 99 !</p>
            </div>
        </div>
    </ul>
</div>
