<div id="accueil">
    <form [formGroup]="loginForm">
        <div>
            <label for="nomUtilisateur">Nom d'utilisateur</label>
            <input formControlName="UserName" type="text" id="nomUtilisateur" placeholder="Admin">
        </div>
        <div>
            <label for="motDePasse">Mot de passe</label>
            <input formControlName="Password" type="password" id="motDePasse" placeholder="Password">
        </div>
        <div class="button">
            <button type="submit" (click)="login()" [disabled]="!loginForm.valid">Se Connecter</button>
        </div>
    </form>
</div>