<div id="boxForm">
    <h3>Box : </h3>
    <form>
        <div>
            <label for="nomBox">Nom : </label>
            <input type="text" id="nomBox" placeholder="BoxTest" value="{{box.nom}}">
        </div>
        <div>
            <label for="prix">Prix : </label>
            <input type="number" id="prix" placeholder="12.21" value="{{box.prixUnitaireHTVA}}">
        </div>
        <div>
            <label for="promo">Promotion : </label>
            <input type="number" id="promo" placeholder="21" value="{{box.promotion}}">
        </div>
        <div>
            <label for="description">Description : </label>
            <input type="text" id="description" placeholder="Description box" value="{{box.description}}">
        </div>
        <div class="button">
            <button *ngIf="!box" type="submit">Ajouter</button>
            <button *ngIf="box" type="submit">Modifier</button>
            <button *ngIf="box" type="submit">Supprimer</button>
        </div>
    </form>
</div>