<div id="boxForm">
    <h3>Box : </h3>
    <form>
        <div>
            <label for="nomBox">Nom : </label>
            <input type="text" id="nomBox" placeholder="Nom de la box" value="{{box.nom}}">
        </div>
        <div>
            <label for="prix">Prix : </label>
            <input type="number" id="prix" step="any" min="0" max="1000" placeholder="12.21" value="{{box.prixUnitaireHtva || 0}}">
        </div>
        <div>
            <label for="promo">Promotion : </label>
            <input type="number" id="promo" placeholder="21" value="{{box.promotion || 0}}">
        </div>
        <div>
            <label for="description">Description : </label>
            <input type="text" id="description" placeholder="Description de la box" value="{{box.description}}">
        </div>
        <div class="button">
            <button type="submit">Ajouter/Modifer</button>
            <button type="submit">Supprimer</button>
        </div>
    </form>
</div>