<h3>Utilisateur : </h3>
<form [formGroup]="editUtilisateur">
    <div class="ligneForm">
        <label>Nom : </label>
        <input type="text" formControlName="nom" placeholder="Nom" required>
    </div>
    <div class="ligneForm">
        <label for="prenom">Prénom : </label>
        <input type="text" formControlName="prenom" placeholder="Prénom" required >
    </div>
    <div class="ligneForm">
        <label for="dateNaissance">Age : </label>
        <input type="date" formControlName="dateNaissance" required>
    </div>
    <div class="ligneForm">
        <label for="mail">Email : </label>
        <input type="email" formControlName="mail" required placeholder="example@hotmail.com">
    </div>
    <div class="ligneForm">
        <label for="telephone">Téléphone : </label>
        <input type="tel" formControlName="telephone" placeholder="062 35 64 87">
    </div>
    <div class="ligneForm">
        <label for="gsm">Gsm : </label>
        <input type="tel" formControlName="gsm" required placeholder="0473 58 48 96">
    </div>
    <div class="ligneForm">
        <label for="username">Username : </label>
        <input type="text" formControlName="username" required placeholder="Username">
    </div>
    <div class="ligneForm">
        <label>Droits : </label>
        <input type="checkbox" name="droit">
        <label htmlFor="authorities" for="authorities">Admin</label>
    </div>
    <form [formGroup]="editAdresse">
        <h3>Adresse</h3>
        <div class="ligneForm">
            <label for="rue">Rue : </label>
            <input type="text" formControlName="rue" placeholder="Rue" required>
        </div>
        <div class="ligneForm">
            <label for="numero">Numéro : </label>
            <input type="number" formControlName="numero" placeholder="Numéro" required>
        </div>
        <div class="ligneForm">
            <label for="localite">Localité : </label>
            <input type="text" formControlName="localite" placeholder="Localité" required>
        </div>
        <div class="ligneForm">
            <label for="codePostal">Code Postal : </label>
            <input type="number" formControlName="codePostal" placeholder="Code Postal" required>
        </div>
        <div class="ligneForm">
            <label for="pays">Pays : </label>
            <input type="text" formControlName="pays" placeholder="Pays" required>
        </div>
    </form>
    <div class="button">
        <button type="submit" (click)="remplirUtilisateurForm()">Modifier</button>
    </div>
</form>
<div class="button">
    <button type="submit" (click)="suppressionUtilisateur(utilisateur)">Supprimer</button>
</div>