<div class="containerlistebox">
    <div id="box-list">
        <h3>Listes des boxes : </h3>
        <ul *ngIf="boxes">
            <li *ngIf="isUpdateRoute()">
                <a (click)="selectBox('')">Créer une nouvelle box</a>
            </li>
            <li *ngFor="let box of boxes; let i = index">
                <a [class.active]="selectedIndex == i" (click)="selectBox(box, i)">{{box.nom}}</a>
            </li>
        </ul>
    </div>
    <div *ngIf="isUpdateRoute()">
        <div id="box-details">
            <app-box-details [box]="selectedBox" [editBox]="editBox" [editProduit]="editProduit"></app-box-details>
        </div>
    </div>
    <div *ngIf="isUpdateRoute()">
        <div id="produit-list">
            <app-produit-list [box]="selectedBox" [editProduit]="editProduit"></app-produit-list>
        </div>
    </div>
    <div *ngIf="isCommentaireRoute()">
        <div id="commentaire-list">
            <app-commentaire-list [box]="selectedBox"></app-commentaire-list>
        </div>
    </div>
</div>