<p></p>
<div id="utilisateur-list">
    <h3>Liste des utilisateurs</h3>
    <p *ngIf="!utilisateurs.length">Aucun utilisateur !</p>
    <ul *ngIf="utilisateurs">
        <li *ngFor="let util of utilisateurs; let i = index">
            <a [class.active]="selectedIndex == i" (click)="selectUtilisateur(util, i)">{{i+1}}) {{util.nom}} {{util.prenom}}</a>
        </li>
    </ul>
</div>

<div id="utilisateur-details">
    <app-utilisateurs-details [utilisateur]="selectedUtilisateur" [adresse]="selectedAdresse" [editUtilisateur]="editUtilisateur" [editAdresse]="editAdresse" [editRole]="editRole"></app-utilisateurs-details>
</div>