form {
    width: 25%;
    height: 100%;
    margin: auto;
}

input[type=text], input[type=password] {
    margin: 12px 0;
    padding: 7px;
    width: 93%;
    border: 1px solid #ccc;
}

button {
    background-color: white;
    color: black;
    text-decoration:none;
    display: block;
    margin: auto;
    padding: 5px;
    border:1px solid;
}
  
button:hover {
    opacity: 0.8;
    background-color: rgb(145, 181, 248);
    cursor: pointer;
}

p {
    text-align: center;
    width: 25%;
    height: 100%;
    padding: 20px;
    margin: auto;
}
