#utilisateur-list {
    float: left;
    width: 45%;
    margin: 5px;
    padding: 5px;
    border: 1px solid;
    height: 100%;
}

#utilisateur-details {
    float: right;
    width: 45%;
    margin: 5px;
    padding: 5px;
    border: 1px solid;
    height: 100%;
}

.active {
    background-color:  rgb(145, 181, 248);
}

ul {
    list-style: none;
}

ul li a {
    cursor: pointer;
}